/* Fonts */
@font-face {
    font-family: Lemonmilk;
    src: url(../LEMONMILK-Regular.otf);
}
@font-face {
    font-family: LemonmilkLight;
    src: url(../LEMONMILK-LIGHT.otf);
}
@font-face {
    font-family: LemonmilkMedium;
    src: url(../Lemonmilk-Medium.otf);
}
@font-face {
    font-family: Mollen;
    src: url(../Mollen\ Personal\ Use-Regular.otf);
}

/* Navigation links */
#nav {
    margin: 0px;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    height: 7vh;
}
#nav > a {
    padding: 1.2vh;
    font-size: 2.5vh;
    font-family: LemonmilkLight;
    color: black;
    text-decoration: none;
}
#nav > a:visited {
    color: black;
}
#nav > a:hover {
    color: #919491;
}
#nav > a:active {
    color: black;
}

/* Main */
body {
    background-color: #F0F2F0;
}

/* Banner */
#banner {
    background: linear-gradient(to bottom right, #c2f4e6, #f8c9ac);
    padding-bottom: 45px;
    margin-top: 0px;
    font-family: Lemonmilk;
    text-align: center;
    position: relative;
    font-size: 7vw;
    padding: 5vh;
}

/* Text */
caption {
    font-family: LemonmilkMedium;
    font-size: 3vh;
    color: #485853;
}
th {
    font-family: LemonmilkLight;
    color: #485853;
    padding: 6px;
}
td {
    font-family: Mollen;
    padding: 6px;
}
#intro {
    text-align: center;
    font-size: 4vh;
    font-family: Mollen;
    padding: 3vh;
}
.link {
    width: 25vw;
    text-align: center;
}
table {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5vh;
}
td > a {
    color: black;
    border: 2px #7ea298 solid;
    text-decoration: none;
    padding: 6px;
    border-radius: 10px;
}
td > a:visited {
    color: black;
}
td > a:hover {
    color: #919491;
}
td > a:active {
    color: black;
}