/* Fonts */
@font-face {
    font-family: Lemonmilk;
    src: url(../LEMONMILK-Regular.otf);
}
@font-face {
    font-family: LemonmilkLight;
    src: url(../LEMONMILK-LIGHT.otf);
}
@font-face {
    font-family: LemonmilkMedium;
    src: url(../Lemonmilk-Medium.otf);
}
@font-face {
    font-family: Mollen;
    src: url(../Mollen\ Personal\ Use-Regular.otf);
}

/* Main */
body {
    background-color: #F0F2F0;
}

/* Navigation links */
#nav {
    margin: 0px;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    height: 7vh;
}
#nav > a {
    padding: 1.2vh;
    font-size: 2.5vh;
    font-family: LemonmilkLight;
}
a {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
}
a:hover {
    color: #919491;
}
a:active {
    color: black;
}

/* Banner */
#banner {
    background: linear-gradient(to bottom right, #c2f4e6, #f8c9ac);
    padding-bottom: 45px;
    margin-top: 0px;
    font-family: Lemonmilk;
    text-align: center;
    position: relative;
    font-size: 7vw;
    padding: 5vh;
}

/* Text + image */
#main {
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
}
#aboutme {
    width: 40vw;
    padding-top: 13vh;
    padding-bottom: 13vh;
    font-family: Mollen;
}
#selfie {
    margin-top: 4.4vh;
    border: 4px #7ea298 solid;
    border-radius: 26px;
    width: 22vw;
    height: 100%;
}